.card {
  width: 300px;
  margin: 40px auto;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  border: 1px solid #000000;
  color: #2e2e2e;
}

.card img {
  border-radius: 50%;
  margin-top: 20px;
}

.card p {
  margin: 8px 0;
}

.card ul {
  display: flex;
  background-color: #ffffff;
  border-top: 1px solid #000000;
  padding: 0;
  margin: 0;
  list-style: none;
}

.card li {
  flex: 1;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #000000;
}

.card li:last-child {
  border-right: none;
}

.stats span:first-child {
  font-size: 12px;
  color: #000000;
  opacity: 1;
}

.card span:last-child {
  font-weight: 700;
  margin-top: 5px;
}
